body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #8b1515;
    font-family: Arial, sans-serif;
    color: #333;
}

.form {
    position: relative;
    background-color: #ffffff;
    padding: 40px 20px 30px 20px; /* Tăng padding trên để có khoảng cách cho logo */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    position: absolute;
    top: -10px; /* Điều chỉnh vị trí logo */
    left: -10px; /* Điều chỉnh vị trí logo */
    width: 100px; /* Tăng kích thước logo */
    opacity: 0.1; /* Giảm độ đậm để logo mờ đi */
    transform: rotate(45deg); /* Xoay logo 45 độ sang phải */
}

.form h1 {
    margin-top: 40px; /* Tạo khoảng cách giữa logo và tiêu đề */
    font-size: 24px;
    color: #333;
}

.form h1 span {
    color: #8b1515;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form .button {
    background-color: #8b1515;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form .button:hover {
    background-color: #7a1313;
}
